@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');

/* Footer section */

#footer {
    background-color: #96C7C1 !important;
    font-family: "Noto Sans";
}

.container.p-4.pb-0 i {
    border-radius: 100%;
    padding: 4px;
}

.container.p-4.pb-0 i {
    color: #056257;
    font-size: 20px;
}