/* Header section */

@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');

/* Blog section */

#blog {
    width: 100%;
    margin-bottom: 100px;
}

#blog .block {
    width: 100%;
    height: 600px;
    text-align: center;
    display: inline-block;
}

#blog .block h3 {
    color: #056257;
    font-size: 50px;
    font-weight: normal;
    margin: 30px auto;
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    text-align: center;
    /* dùng shadow này cho chữ */
}

#blog .block .block-brief {
    width: max-content;
    height: 500px;
    margin: 0px auto;
}

#blog .block .brief {
    max-width: 280px;
    height: 480px;
    display: block;
    float: left;
    border-radius: 30px;
    border-style: none;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    /* dùng shadow này cho object */
    margin: 0px 30px;
    color: #056257;
}

#blog .block .brief:hover {
    background-image: linear-gradient( 120deg, #d2e69c 20%, #6aceb3 45%, #207ead 90%);
    color: #ffffff;
}

#blog .block .brief img {
    width: 100%;
    height: 50%;
    object-fit: cover;
    border-radius: 30px 30px 0px 0px;
}

#blog .block .brief h4 {
    margin: 10px auto;
    width: 85%;
}

#blog .block .brief p {
    width: 75%;
    margin: 13px auto;
    font-weight: lighter;
    font-size: 16px;
    font-style: italic;
}

#blog .block .more {
    width: max-content;
    height: 50px;
    margin: 10px auto;
    border-style: none;
    border-radius: 40px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5);
    color: #056257;
    display: inline-block;
}

#blog .block .more p {
    font-weight: lighter;
    float: left;
    margin: 13px 0px 13px 10px;
}

#blog .block .more a {
    font-weight: 700;
    margin: 13px 5px;
}

#blog .block .more a:visited {
    color: #056257;
}

hr {
    margin: 100px auto 20px auto;
    border-top: 1px solid #056257;
    width: 1000px;
}


/* Game section */

#game {
    width: 100%;
    text-align: center;
}

#game .block {
    width: max-content;
    height: 300px;
    margin: 0px auto;
}

#game .block h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: #056257;
    text-shadow: 0px 2px 5px rgba(128, 128, 128, 0.5);
}

#game .block .block-game {
    /*width: max-content;*/
    margin: 20px auto;
}

#game .block .block-game .game-info {
    width: 100%;
    height: 200px;
    border-style: none;
    border-radius: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    color: #056257;
    display: block;
}

#game .block .block-game .game-info:hover {
    color: #ffffff;
    background-image: linear-gradient( 160deg, #d2e69c 20%, #6aceb3 45%, #207ead 90%);
}

#game .block .block-game .game-info .text-game {
    margin: 55px 20px 55px 80px;
    /*width: max-content;*/
}

#game .block .block-game .game-info .text-game h4 {
    font-size: 25px;
    /*  width: max-content;*/
    margin-bottom: 10px;
}

#game .block .block-game .game-info .text-game p {
    font-size: 18px;
    font-weight: lighter;
    width: 450px;
}

#game .block .block-game .game-info .text-game,
#game .block .block-game .game-info img {
    display: inline-block;
}

#game .block .block-game .game-info img {
    height: 100%;
    width: 200px;
    object-fit: cover;
    display: block;
    float: right;
    margin: 0px 100px;
}


/* Forum section */

#forum {
    text-align: center;
    width: 100%;
}

#forum .block {
    width: max-content;
    height: 600px;
    margin: 0px auto;
}

#forum .block h3 {
    text-align: center;
    font-size: 50px;
    font-weight: normal;
    color: #056257;
    text-shadow: 0px 2px 5px rgba(128, 128, 128, 0.5);
}

#forum .block .forum-info {
    width: 1000px;
    height: 500px;
    border-style: none;
    border-radius: 40px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    margin: 30px auto;
    color: #056257;
}

#forum .block .forum-info:hover {
    color: #ffffff;
    background-image: linear-gradient( 160deg, #d2e69c 20%, #6aceb3 45%, #207ead 90%);
}

#forum .block .forum-info img,
#forum .block .forum-info .forum-text {
    display: inline-block;
}

#forum .block .forum-info img {
    width: 500px;
    height: 500px;
    object-fit: cover;
    display: block;
    float: left;
}

#forum .block .forum-info .forum-text {
    width: 500px;
    margin: 160px 0px;
}

#forum .block .forum-info .forum-text h4 {
    font-size: 25px;
    width: 480px;
    margin-bottom: 20px;
}

#forum .block .forum-info .forum-text p {
    font-size: 18px;
    font-weight: lighter;
    width: 480px;
}

.viewmore {
    display: none;
}

@media screen and (max-width:767px) {
    #blog {
        margin: 0px 0px;
    }
    #blog h3 {
        font-size: 30px;
    }
    #blog .block {
        margin: auto 0px;
    }
    #blog .block .brief {
        display: block;
        float: none;
        width: 100%;
        height: 400px;
        margin: 20px auto;
    }
    #blog .block h3 {
        margin-top: 20px;
        font-size: 25px;
    }
    #blog .block .more {
        margin: 0px auto;
        border-style: none;
        display: inline;
    }
    #blog .block .more p {
        display: none;
    }
    .viewmore {
        display: inline;
    }
    #game .block .block-game .game-info img {
        display: none;
    }
    #game .block {
        width: 80%
    }
    #game .block .block-game {
        width: 80%;
    }
    #game .block .block-game .game-info .text-game {
        width: 80%;
        margin: 5px;
    }
    #game .block .block-game .game-info .text-game h4 {
        font-size: 20px;
        margin-top: 20px;
    }
    #game .block .block-game .game-info .text-game p {
        font-size: 15px;
        font-weight: lighter;
        width: 100%;
    }
    #forum .block .forum-info img {
        display: none;
    }
    #forum .block {
        width: 80%
    }
    #forum .block .forum-info {
        width: 100%;
        height: 250px;
    }
    #forum .block .forum-info .forum-text {
        width: 80%;
        margin: 5px;
    }
    #forum .block .forum-info .forum-text h4 {
        font-size: 20px;
        margin-top: 20px;
        width: 100%;
    }
    #forum .block .forum-info .forum-text p {
        font-size: 15px;
        font-weight: lighter;
        width: 100%;
    }
    hr {
        width: 80%;
    }
}