@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');
.wrapper {
    padding: 50px 200px;
    font-family: "Noto Sans";
}

.custom {
    background-color: #ccc;
    height: 200px;
}

.slogan {
    margin-top: 100px;
}

.customHeight {
    height: 200px;
    margin: 50px auto;
}

.customHeight .col-sm-4.custom {
    border-radius: 20px 0px 0px 20px;
}

.customHeight .col-sm-8 {
    background-color: #E6E6E6;
    border-radius: 0px 20px 20px 0px;
}

.dateHolder {
    height: 80px;
    width: 50px;
    background-color: #444941;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 700;
    font-size: 20px;
    color: #A8ECE7;
}

.customHeight .title {
    color: #056257;
}

.slogan {
    text-align: center;
    font-family: "Merriweather", serif;
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    color: #056257;
}

hr {
    margin: 50px 0px 50px 0px;
    border-top: 1.5px solid #056257;
    width: 100%;
    font-weight: 900;
}

.row.author {
    width: fit-content;
    padding: 3px;
    margin-left: 5px;
    border: solid 1px #A2D2FF;
    background-color: #A2D2FF;
    border-radius: 20px;
}

.row.more {
    margin-top: -10px;
}

@media screen and (max-width:767px) {
    .wrapper {
        padding: 100px 20px;
    }
    .customHeight {
        height: 400px;
        margin: 20px auto 60px auto;
    }
    .slogan {
        margin-top: 20px;
        font-size: 20px !important;
    }
    hr {
        margin: 20px 0px 20px 0px;
        font-weight: 700;
    }
    .customHeight .col-sm-4.custom {
        border-radius: 20px 20px 0px 0px;
    }
    .customHeight .col-sm-8 {
        background-color: #E6E6E6;
        border-radius: 0px 00px 20px 20px;
    }
}