@import url('https://fonts.googleapis.com/css2?family=Merriweather&family=Noto+Sans&display=swap');
.customthead tr {
    background: #5CBFB2 !important;
}

table {
    font-family: "Noto Sans";
    height: 100%;
}

.scoreboard {
    padding-top: 150px;
    font-family: "Noto Sans";
    text-shadow: 2px 2px 4px rgba(128, 128, 128, 0.5);
    color: #056257;
    height: 100vh;
}