{% load static %}
<link rel="stylesheet" href="{%  static  'css/footer.css'  %}">
<div id="footer">
    <div class="container-footer">
        <div class="left">
            <h4>Đăng kí ngay để nhận thêm nhiều thông tin từ chúng mình nhé!</h4>
            <input type="email" placeholder="Điền địa chỉ email tại đây">
            <button>Subscribe</button>
        </div>
        <div class="right">
            <h6>Đừng quên theo dõi chúng mình tại</h6>
            <div class="list">
                <ul>
                    <li>
                        <img src="../../static/Images/facebook.png" alt="Facebook icon">
                        <p>https://www.facebook.com/Replyronment/</p>
                    </li>
                    <li>
                        <img src="../../static/Images/instagram.png" alt="Instagram icon">
                        <p>https://www.instagram.com/Replyronment/</p>
                    </li>
                    <li>
                        <img src="../../static/Images/youtube.png" alt="Youtube icon">
                        <p>https://www.youtube.com/c/Replyronment</p>
                    </li>
                </ul>
            </div>
        </div>
        <p class="copyright">Copyright &copy; 2021 REPLYRONMENT</p>
    </div>
</div>