{% load widget_tweaks %} {% include "html/navbar.html" %} {% load static %}
<link rel="stylesheet" href="{%  static  'css/style.css'  %}">

<body>
    <div class="container1">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="../../static/Images/plants.jpg" alt="">
                <div class="text">
                    <span class="text-1">Đã tới lúc<br>đáp lời môi trường rồi đấy!</span>
                    <span class="text-2">Bắt đầu thôi!</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="signup-form">
                    <div class="title">Đăng nhập</div>
                    <form method='POST'>
                        {% csrf_token %} {% for key, value in form.errors.items %} {{value}} {% endfor %}
                        <div class="input-boxes">
                            <div class="input-box">
                                <i class="fas fa-user"></i> {% render_field form.username placeholder="Tên đăng nhập" %}
                            </div>
                            <div class="input-box">
                                <i class="fas fa-lock"></i> {% render_field form.password placeholder="Mật khẩu" %}
                            </div>
                            {% if next %}
                            <input type="hidden" name="next" value="{{next}}" /> {% else %}
                            <input type="hidden" name="next" value="/LandingPage#feature" /> {% endif %}
                            <div class="button input-box">
                                <input type="submit" value="Đăng nhập">
                            </div>
                            <div class="text sign-up-text">Bạn chưa có tài khoản? <label for="flip">Đăng kí thôi</label></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!--<form action='.' method="POST">
            {% csrf_token %}
            {{form}}
            <input type="submit" value="Register"/>
        </form>-->
</body>
{% include "html/footer.html" %}

</html>