{% load widget_tweaks %} {% include "html/navbar.html" %} {% load static %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{%  static  'css/style.css'  %}">

<body>
    <div id="main-wrapper" class="container">
        <div class="row justify-content-center">
            <div class="col-xl-10">
                <div class="card border-0">
                    <div class="card-body p-0">
                        <div class="row no-gutters">
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="mb-5">
                                        <h3 class="h4 font-weight-bold text-theme">Đăng nhập</h3>
                                    </div>

                                    <form method="POST">
                                        {% csrf_token %} {% for key, value in form.errors.items %} {{value}} {% endfor %}
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Tên đăng nhập</label> {% render_field form.username placeholder="Tên đăng nhập" class="form-control" %}
                                        </div>
                                        <div class="form-group mb-5">
                                            <label for="exampleInputPassword1">Mật khẩu</label> {% render_field form.password placeholder="Mật khẩu" class="form-control"%}
                                        </div>
                                        {% if next %}
                                        <input type="hidden" name="next" value="{{next}}" /> {% else %}
                                        <input type="hidden" name="next" value="/LandingPage" /> {% endif %}
                                        <button type="submit" class="btn btn-theme">Đăng nhập</button>
                                    </form>
                                </div>
                            </div>
                            <div class="col-lg-6 d-none d-lg-inline-block">
                                <div class="account-block rounded-right">
                                    <div class="overlay rounded-right"></div>
                                    <div class="account-testimonial">
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- end card-body -->
                </div>
                <!-- end card -->

                <p class="text-muted text-center mt-3 mb-0">Bạn chưa có tài khoản <a href="/register" class="text-primary ml-1">Đăng ký nào</a></p>

                <!-- end row -->

            </div>
            <!-- end col -->
        </div>
        <!-- Row -->
    </div>

</body>
{% include "html/footer.html" %}